__pycache__/
section/
Models/
datasets/
.ipynb_checkpoints/
.idea/
.gz
.pt
.vscode/
section02_pytorch_basics/notebooks/data/MNIST/raw/t10k-images-idx3-ubyte
section02_pytorch_basics/notebooks/data/MNIST/raw/t10k-images-idx3-ubyte.gz
section02_pytorch_basics/notebooks/data/MNIST/raw/t10k-labels-idx1-ubyte
section02_pytorch_basics/notebooks/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
section02_pytorch_basics/notebooks/data/MNIST/raw/train-images-idx3-ubyte
section02_pytorch_basics/notebooks/data/MNIST/raw/train-images-idx3-ubyte.gz
section02_pytorch_basics/notebooks/data/MNIST/raw/train-labels-idx1-ubyte
section02_pytorch_basics/notebooks/data/MNIST/raw/train-labels-idx1-ubyte.gz
*.gz
*.meta
*.html
*.bin
*.txt
section09_generation/solutions/MNIST_GAN.gif
/.github
